/target/
/dist/
crates/*/target
**/*.rs.bk
**/*.rs.pending-snap
.idea/*
*.log
*.iml
.vscode/settings.json
generated_assists.md
generated_features.md
generated_diagnostics.md
generated_config.md
.DS_Store
/out/
/dump.lsif
.envrc
docs/manual/book/
